<div class="container">
  <h1 class="bio text-center">Public Recipes</h1>
​
  <div>
    <% if @recipes.size > 0 %>
    <% @recipes.each do |recipe|%>
      <div class="border border-info rounded row" style="max-width: 850px; margin: 1rem auto;">
        <div class="col d-flex align-items-center justify-content-evenly flex-column" style="padding: 2.5rem;">
          <%= link_to recipe_path(recipe.id), id: "recipe_path#{recipe.id}" do %>
          <h5 class="text-dark"><%= recipe.name%></h5>
          <% end %>
​
          <p class="mt-6">By: <%= User.find_by(id: recipe.user_id).name%></p>
        </div>
        <div class="col d-flex align-items-center justify-content-evenly flex-column" style="padding: 1.5rem;">
          <p> Total food items: <%= @recipes.length %> </p>
          <p class="mt-6"> Total price: $<%= recipe.total_price %> </p>
        </div>
      </div>
    <%end%>
    <% else %>
    <p class="border border-2">There are no public recipes yet!!</p>
    <% end %>
  </div>
</div>